*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.max p{
    font-size: max(60px, 5vw);
}
.min p{
    font-size: min(150px, 10vw);
}*/

@media screen and (max-width: 920px){
    p{
        font-size:16px;
    }
    h1{
        font-size:20px;
    }
    .card-deck{
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }


}

#logo{
    position: absolute;
    left: 2.6%;
    right: 83.74%;
    top: 3.3%;
    bottom: 82.59%;
}

#tituloPrincipal{
    position: absolute;
    left: 35%;
    right: 2%;
    top: 20%;
    bottom: 78%;
    font-family: Candara;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    color: #3D3A3A;
}

#imagemPrincipal{
    /*left: 0%;
    right: 0.14%;
    top: 3.01%;
    bottom: 80.92%;*/
    width: 1380px;
    height: 180px;
    left: 0px;
    top: 0px;
    /* width: 100%;
     height: 100%*/
}

nav{
    top:3px;
    bottom: 75%;
    background-image: linear-gradient(180deg, rgba(255, 225, 90, 0.852187) 40.59%, #FFAC47 99.99%);
}

#navbarP{
    top:18%;
    font-size: 16px;
    font-family: Candara;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #3D3A3A;
    /*font-weight: bold;*/
    text-align: center;
}

/*-------------ACESSIBiLIDADE-------------------*/
#navbarAcessibilidade{
    top:1px;
    bottom: 55%;
    background-image: rgba(238, 235, 235, 1);
    font-size:14px;
    font-weight: bold;
    font-family: Candara;
    line-height: 22px;
    text-align: right;
}

#acessibilidade{
    left:10%;
    right: 17.92%;
    top: 30%;
    bottom: 94.75%;
    font-size:30px;
    font-family: Candara;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#iconeAc{
    font-size:30px;
    left:100%;
    top:20px;
}

/*---------- ÍCONES - TAMANHOS ----------*/
#iconeLampada{
    height: 36px;
    width: 38px;
    left: 0px;
    top: 5px;
}

#iconeMartelo{
    height: 36px;
    width: 38px;
    left: 0px;
    top: 50px;
}
#iconeBraile{
    height: 36px;
    width: 38px;
    left: 0px;
    top: 80px;
}

#iconeVideo{
    height: 34px;
    width: 36px;
    left: 0px;
    top: 80px;
}

#iconeNav{
    height: 34px;
    width: 36px;
    left: 0px;
    top: 80px;
}

#iconeLive{
    height: 36px;
    width: 38px;
    left: 0px;
    top: 80px;
}

/*---------- TAMANHO DE CADA SUBPÁGINA ----------*/

#subPagina{
    width:450px;
    top: 258px;
    font-style: normal;
    font-size: 16px;
    line-height:35px;
}

#subPagina2{
    width:350px;
    top: 258px;
    font-style: normal;
    font-size: 16px;
    line-height:35px;
}

#subPagina3{
    width:350px;
    top: 258px;
    font-style: normal;
    font-size: 16px;
    line-height:35px;
}

#subPagina4{
    width:300px;
    top: 258px;
    font-style: normal;
    font-size: 16px;
    line-height:35px;
}

#contato{
    text-align: center;
    font-family: Candara;
    font-size:22px;
    font-style: normal;
}

/*---------- RODAPÉ ----------*/
footer{
    bottom: 0%;
    width:100%;
    flex-shrink: 0;
    text-align:center;
    font-size:20px;
    font-family: Candara;
    padding:8px;
    background-color:#1B1919;
    color:#FFFFFF;
}

/*---------- ÍCONES DO RODAPÉ ----------*/
#iconeGmail{
    height: 28px;
    width: 28px;
    left: 0px;
    top: 80px;
}

#iconeFacebook{
    height: 32px;
    width: 30px;
    left: 0px;
    top: 80px;
}

#iconeYoutube{
    height: 28px;
    width: 24px;
    left: 0px;
    top: 80px;
}

#iconeYoutubePreto{
    height: 50px;
    width: 45px;
    left: 0px;
    top: 80px;
}

#iconeBraile2{
    height: 300px;
    width: 350px;
}

#slides{
    top: 20px;
    width: 430px;
    height:320px;
    /*left: 6.58%;
    //right: 44.36%;
    //top: 34.26%;
    //bottom: 56.81%;*/
}

#textoGices{
    left: 50%;
    right: 10%;
    top: 34.04%;
    bottom: 15.07%;
}

#pInformacaoCadastro{
    font-size:15px;
    text-align: justify-all;
}

#textoPagTecnologicos{
    text-align: center;
    font-size: 18px;
    font-family: Tajawal;
}

#formatTexto{
    font-size: 20px;
    font-family: Tajawal;
    text-align: justify;
}

#imagens{
    height: 300px;
    width: 5000px;
}

#imagens2{
    height: 400px;
    width: 700px;
}

#cardGrupodePesquisa{
    height: 150px;
    width: 950px;
    height: 25rem;
    margin-bottom: 25%;
    text-align: center;
    font-size: 16px;
    font-family: Calibri;
    margin: 0 auto;
}

#imagensGrupo{
    height: 240px;
    width: 260px;
}

#imagensGrupo2{
    height: 350px;
    width: 220px;
}


#formaOriginal{
    font-size: 15px;
    font-family: Courier New;
    text-align: justify;
}

#formatImg{
    height: 120px;
    width: 500px;
}

#formatTextos{
    font-size: 18px;
    font-family: Calibri;
    text-align: justify;
}

h1{
    font-family: Calibri;
}

h5{
    font-size: 18px;
    font-family: Calibri;
}


#conteudo{
    width: 100%;/*1150px*/
    font-size:20px;
    font-family: Tajawal;
    text-align: justify;
    margin-bottom: 5%;
}
