<!DOCTYPE html>  
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"   xmlns:th="http://www.thymeleaf.org">  

    <head>
        <title></title>
    </head>


    <body>
        <div class="dropdown-menu-left ml-auto bg-light" id="navbarAcessibilidade" th:fragment="menuacessibilidade">
            <a href="#" class="text-dark ml-3"><i class="fas">A+ </i></a>
            <a href="#" class="text-dark ml-3"><i class="fas">A- </i></a>
            <a href="#" class="text-dark ml-3"><i class="fas">Alto Contraste</i></a> 
            <a href="#" class="text-dark col-md-3"><i class="fas">Branco e Preto </i></a>
            <a href="/" class="text-dark col-md-3"><i class="fas">Cadastre-se</i></a>
        </div>

    </body>
</html>