<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>  
        <title>Acessibilidade</title>
    </head>  

    <body>  
        <section layout:fragment="conteudo">  
            <div class="container-fluid">  
                <div class="jumbotron">  
                    <h1>Acessibilidade</h1>  

                    <div class="container-fluid" id="conteudoOquee">  
                        <div>
                            <h3  class="col-sm">Zoom</h3>
                            <h5 class="col-sm-12">Utilize os comandos que acionam as funções do zoom</h5>

                            <p class="col-sm-12">
                                Para aumentar a definição, pressione a tecla CTRL e a tecla + simultaneamente.
                            </p>
                            <p class="col-sm-12">
                                Para diminuir a definição, pressione a tecla CTRL e a tecla - ao mesmo tempo.
                            </p>
                            <p class="col-sm-12">
                                Para voltar ao tamanho normal, pressione a tecla CTRL e a tecla 0 (zero).
                            </p>
                            <p class="col-sm-12">
                                Para voltar na página anterior, pressione a tecla ALT+seta para esquerda.
                            </p>
                            <p class="col-sm-12">
                                Ir para próxima página, pressione ALT+seta para direita.
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </section> 

    </body>  
</html>
