<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">
   <!-- <head>  
        <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>  

    <body>  
        <section layout:fragment="conteudo">  
            <div class="container-fluid">  
                <div class="jumbotron">  
                    <h1>Bem vindo.</h1>  
                </div>
            </div>
        </section> 

        <th:block layout:fragment="javascript">  
            <script type="text/javascript">
                function alerta() {
                    window.alert('Hi Mundo!');
                }
            </script>  
        </th:block>  
    </body>  -->
</html>

<!--
    <head>
        <title>ADD CONTEUDO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>--

>