<!DOCTYPE html>
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>
        <title>Recursos Alternativos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">  
            <form action="@{materiais-concretos}" method="post">
            </form>
            <div class="jumbotron">  
                <div class="container">
                    <h1 class="display-4">Recursos Alternativos</h1>  
                </div>
            </div>

            <div class="container marketing" id="formatTextos">
                <div class="card card-signin border-secondary my-5">
                    <div class="card-body">
                        <p>
                            Mesmo com as vantagens obtidas por meio do uso de diferentes recursos disponíveis, alguns
                            conteúdos estudados em disciplinas da área de matemática e engenharias, demandam
                            representação de conceitos por meio de gráficos e desenhos, e nesse caso, os recursos
                            frequentemente utilizados para o ensino de matemática a estudantes cegos são limitados 
                            (DE AGUIAR et al., 2019).
                        </p>
                    </div>
                </div>
                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Caneta 3D</h2>
                        <p>Algumas alternativas tem sido investigadas, como por exemplo o uso de canetas 3D
                            como recurso auxiliar aos professores no ensino de matemática. 
                            A caneta 3D é um dispositivo de impressão 3D de baixo custo, visualmente semelhante a uma caneta
                            convencional, porém tendo o mesmo princípio e funcionalidade de uma impressora 3D.
                            Com essa caneta é possível gerar representações em alto relevo, permitindo a identificação tátil dos
                            materiais produzidos. Aguiar et al. (2019) utilizaram a caneta em experimentos abordando
                            conteúdos de formas geométricas, funções, ângulos e o sistema de coordenadas cartesianas.
                            Os resultados foram considerados positivos, mostrando-se a caneta 3D um recurso de grande
                            potencial em sala de aula. A Figura 8 apresenta um exemplo de uso da caneta 3D.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid" id="imagens" th:src="@{caneta3D.png}" alt="img"/> 
                        <small>Figura 1: Caneta 3D. Fonte da imagem: de Aguiar (2019).</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>
                <h2 class="featurette-heading">Leitores de tela</h2>
                <p>
                    Usados desde o início dos anos 1980, leitores de tela (do inglês, text-to-speech) são
                    ferramentas que convertem o texto escrito em áudio, oferecendo acesso ao conteúdo para
                    pessoas cegas. Muitos leitores de tela foram estudados, criados e aprimorados ao longo do
                    tempo. Atualmente existem muitas opções, tais como:
                </p>

                <div class="col-sm">
                    <ul class="col-sm-12">
                        <li>NVDA (NonVisual Desktop Access - https://www.nvaccess.org/)</li>
                        <li> ChromeVox - (http://www.chromevox.com/)</li>
                        <li>JAWS (Job Access With Speech - https://www.freedomscientific.com/Products/software/JAWS/).</li>
                        <li>Virtual Vision</li>
                    </ul>
                </div>

                <p>Porém, ainda existem limitações relacionadas à leitura e navegação de conteúdo,
                    particularmente com suporte para a língua Portuguesa. Além disso, a leitura de fórmulas
                    matemáticas via software ainda é uma tarefa desafiadora, visto que essas fórmulas podem
                    conter aninhamentos de subexpressões, um grande número de símbolos incomuns, 
                    e diferentes significados dependendo do contexto matemático em que aparecem.
                </p>
                <hr class="featurette-divider"/>

                <h2 class="featurette-heading">Representação de Equações e Símbolos Matemáticos</h2>

                <p>Alguns estudos voltados ao uso de leitores de tela na interação matemática foram desenvolvidos ao longo do tempo. 
                    Como exemplo de iniciativas nesse contexto, pode-se citar o sistema <strong>ASTER</strong> (RAMAN, 1994), 
                    que é baseado em sintetizador de voz e lê equações complexas para o ouvinte com sonificação especial para destacar partes da equação
                    (usa pausas, tons e altura para indicar o tipo de informação matemática que está na tela).</p>

                <p>Projetado e desenvolvido como parte da tese de doutorado de Robert Stevens (1996), o software 
                    <strong>Mathtalk</strong> visa dar aos leitores com deficiência visual uma leitura ativa da
                    notação de álgebra padrão.</p>


                <p>Ferreira e Freitas (2006) desenvolveram o <strong>AudioMathENGINE</strong>, que consiste em análise,
                    interpretação e conversão de símbolos matemáticos para texto; o <strong>AudioMathGUI</strong>, que
                    auxilia na interpretação e conversão de símbolos matemáticos para expressões em formato
                    texto, além disso possui mecanismo de navegação na web e; o <strong>AudioMathWEB</strong>, que
                    consiste em um serviço público on-line de conversão de documentos com Mathematical
                    Markup Language - <strong>MathML</strong>, com o objetivo de análise, interpretação e conversão
                    simplificada de páginas on-line com conteúdo matemático. <strong>MathML</strong> é uma linguagem de
                    marcação matemática, uma aplicação da linguagem XML para descrever
                    notações matemáticas e capturar sua estrutura e conteúdo. 
                    Destina-se a integrar fórmulas matemáticas em páginas da World Wide Web e outros documentos.
                    Meira et al. (2008) construiu uma ferramenta para apoiar o professor na elaboração de
                    material instrucional que envolva símbolos matemáticos. Nessa ferramenta, símbolos
                    matemáticos são convertidos automaticamente para o formato texto, gerando o mesmo
                    conteúdo no formato <strong>MathML</strong>, que pode ser reproduzido pelos leitores de tela.</p>
                <hr class="featurette-divider"/>

                <h2 class="featurette-heading">Latex</h2>
                <p>Mesmo com tantas iniciativas, ainda existe uma grande lacuna em soluções especializadas de
                    leitura de fórmulas matemáticas para pessoas com deficiência visual em níveis mais
                    avançados, como ensino médio e superior (SASSAKI et al., 2018). Uma opção que tem sido
                    apontada como válida por professores e alunos de cursos nível de superior, é a utilização de
                    um sistema de composição tipográfica (preparação de documentos), chamado <strong>LaTeX.</strong> O
                    LaTeX possui recursos destinados à produção de documentos técnicos e científicos, que
                    simplificam a digitação de textos, especialmente caracteres matemáticos.</p>

                <p>A linguagem utilizada pelo LaTeX refere-se a uma linguagem de marcação de texto na qual
                    já se escreve com as indicações de sua formatação final (de Carvalho, do Couto e Camargo, 2018).
                    Como exemplificado em Libardi et al. (2011), ao invés de trabalhar com ideias visuais, no
                    LaTeX o usuário trabalha com conceitos (comandos) mais lógicos: por exemplo, ao
                    especificar que o perímetro de uma circunferência é 2πR, ao invés de utilizar a letra grega π,
                    o usuário escreveria o comando \pi.</p>


                <div class="card card-signin border-secondary my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="d-flex">Forma original</h4>
                                        <div id="formaOriginal">
                                            <p>onde $D(x, y, t)$ é uma imagem binária que compreende a diferença de intensidade de</p>
                                            <p>\emph{pixel} dos quadros separados pela distância temporal $\Delta$, definida na Equação</p>
                                            <p>\eqref{eqD}:</p>
                                            <p>\begin{equation}</p>
                                            <p>  D(x, y, z) = |I(x,y,t) - I(x,y,t\pm \Delta)|</p>
                                            <p>\label{eqD}</p>
                                            <p>\end{equation}</p>
                                            <p>onde $I(x, y, t)$ é o valor da intensidade do \emph{pixel} $(x, y)$ no quadro $t_{th}$ da sequência da imagem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Forma compilada</h4>
                                        <img class="featurette-image img-fluid mx-auto" id="formatImg" th:src="@{formaCompilada.png}" alt="img"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md text-center">
                                <small>Figura 2: Exemplo de texto produzido no sistema LaTeX, apresentando a sua forma original e sua forma compilada.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="mx-auto">Dessa forma, conhecendo os comandos do LaTeX usuários com deficiência visual podem
                    reconhecer por meio de leitor de tela, equações digitadas em um texto em LaTeX.
                    De Carvalho, do Couto e Camargo (2018) investigaram as potencialidades e limitações do
                    uso do LaTeX no contexto de leitura e resolução de exercícios de Física por alunos com
                    deficiência visual, por meio de um computador associado a um software leitor de tela.
                    Segundo os autores, diferentemente de outras linguagens, como o JAVA e o <strong>MathML</strong>, o
                    LaTeX possui uma sintaxe mais intuitiva e própria para a escrita de textos que envolvam
                    expressões matemáticas. Como resultado os autores indicaram que a linguagem LaTeX
                    demonstrou grande potencial na diminuição das barreiras da acessibilidade a textos de Física,
                    por meio do computador, e mais do que isso, seu caráter dialógico mostrou que pode ser
                    utilizada não somente por alunos com deficiência visual, sua sintaxe intuitiva pode favorecer
                    a relação entre alunos com e sem deficiência visual.</p>
                <hr class="featurette-divider"/>


                <h2 class="featurette-heading">Ferramentas destinadas ao público infantil</h2>
                <p>Sanchez e Flores (2004) desenvolveram o <strong>AudioMath</strong>, um ambiente virtual interativo
                    baseado em áudio para desenvolver e usar a memória de curto prazo, e para auxiliar no
                    aprendizado da matemática de crianças com deficiência visual.
                    Um exemplo de solução baseada em português do Brasil para auxiliar na educação em
                    matemática inicial de alunos com deficiência visual, é o <strong>MinitecaVox</strong> (SOUZA, 2014), que
                    auxilia no ensino de matemática para alunos em fase de alfabetização.
                </p>                     
                <hr class="featurette-divider"/>


                <h2 class="featurette-heading">Desenvolvimento de algoritmos</h2>    
                <p>Voltado para auxiliar o desenvolvimento de algoritmos por cegos, pode-se citar o 
                    <strong>Sistema Talking Emacs</strong> (YORK e KARSHMER, 1991), que lê o código C para o usuário,
                    fornecendo informações descritivas sobre o código além do material básico do programa (KARSHMER, 2007).
                </p>

                <hr class="featurette-divider"/>

                <h2 class="featurette-heading">Apresentação de conteúdo visual</h2>
                <p>Assim como equações matemáticas precisam ser adaptadas ou escritas de forma alternativa
                    para que possam ser reconhecidas por usuários de leitores de tela, o conteúdo visual utilizado
                    em materiais disponibilizados para alunos cegos também precisa ser acessível.
                    Uma das iniciativas adotadas no Brasil nesse sentido, é a hashtag #praCegoVer, concebida
                    por Patrícia Braille, cujo obtivo é incluir em todas as postagens feitas com imagens, um texto
                    com a descrição visual, precedido da hashtag em questão.
                </p>              
                <hr class="featurette-divider"/>

                <h5><strong>Referências</strong></h5>  
                <p>de Aguiar, R., Silveira, C., &amp; Frizzarini, S. T. (2019). Caneta 3D: Uma nova perspectiva para
                    o ensino de matemática para cegos. Anais do Simpósio Ibero-Americano de Tecnologias
                    Educacionais.</p>
                <p>de Carvalho, J. C. Q., do Couto, S. G., &amp; de Camargo, E. P. (2018). A Linguagem Latex e o
                    ensino de física para alunos com deficiência visual. Investigações em Ensino de Ciências,
                    23(2), 424-438.</p>
                <p> Souza, H. T. (2014). MiniMatecaVox: aplicativo de ensino matemático para crianças
                    deficientes visuais em fase de alfabetização.</p>
                <p>de Moraes, G. S. C. R; Treichel, D. K. OS DESAFIOS DO ENSINO DE MATEMÁTICA
                    NA EDUCAÇÃO INCLUSIVA. Mostra Didático Científica (MDC), 44.</p>
                <p>Ferreira, H.; Freitas, D.. (2006). Leitura de Fórmulas Matemáticas para Cegos e Amblíopes:
                    A Aplicação AudioMath. IBERDISCAP’06. Vitória-ES, Brasil.</p>
                <p>Sánchez, J. H., &amp; Flores, H. E. (2004). AudioMath: Blind children learning mathematics
                    through audio. Retrieved June 3, 2009.</p>


            </div>
        </section> 
    </body>
</html>
