<!DOCTYPE html>  
<html lang="pt"  
      xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}"> 
    <head>
        <title>Cadastro do Administrador</title>
    </head>

    <body>
        <section layout:fragment="conteudo">  

            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">

                                <form th:action="@{/cadastroAdmin}" method="post">

                                    <div class="row p-2">
                                        <input type="" class="form-control" id="nome" th:field="*{nome}" placeholder="Nome" required/>  
                                    </div>
                                    <div class="form-label-group row p-2">
                                        <input type="text" name="username" class="form-control" th:field="*{login}" placeholder="Login" required autofocus />
                                    </div>
                                    <div class="row p-2">
                                        <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email" required/>  
                                    </div>

                                    <div class="form-label-group row p-2">
                                        <input type="password" name="password" class="form-control" placeholder="Senha" required/>
                                    </div>

                                    <div class="row p-2">
                                        <input class="btn btn-dark d-flex w-100 justify-content-center " type="submit" value="Entrar"/>
                                    </div>

                                    private String nome;
                                    private String login;
                                    private String email;
                                    private String senha;


                                </form>

                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
