<!DOCTYPE html>
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  
    <head>
        <title>Recursos Clássicos</title>
    </head>
    <body>
        <section layout:fragment="conteudo">  
            <form action="@{recursos-classicos}" method="post">
            </form>
            <div class="jumbotron"> 
                <div class="container">
                    <h1 class="display-4">Recursos Clássicos</h1>
                </div>
            </div>

            <div class="container marketing" id="formatTextos">
                <div class="card card-signin border-secondary my-5">
                    <div class="card-body">
                        <p>
                            Muitos recursos têm sido destinados para apoiar o processo de ensino-aprendizagem de alunos cegos. Dentre as opções tradicionalmente utilizadas no ambiente escolar, 
                            pode-se citar: o sistema Braille, o Geoplano, o Multiplano, o Soroban e ábacos adaptados. A seguir serão apresentados alguns desses recursos.

                        </p>
                    </div>
                </div>
                <h1 class="d-flex">Recursos Tradicionais</h1>
                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Sistema Braille</h2>
                        <p>O Sistema Braille corresponde a um sistema de escrita e leitura tátil para as pessoas cegas. 
                            Foi inventado em 1825 pelo francês Louis Braille, um jovem cego. 
                            Esse sistema baseia-se em seis pontos em relevo dispostos em duas colunas, possibilitando a formação de 63 símbolos diferentes,
                            que são empregados em textos literários nos diversos idiomas, como também nas simbologias matemática e científica, 
                            em geral, na música e, recentemente, na informática (LEMOS e CERQUEIRA, 2014).</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid" id="imagens2" th:src="@{alfabetoBraille.jpg}" alt="img"/> 
                        <small class="text-center">Figura 1: Exemplos de símbolos do alfabeto Braille.</small>
                    </div>
                </div>

                <div class="row featurette">
                    <div class="col-md-7">
                        <p>
                            A Figura 2 apresenta um exemplo de documento escrito usando o sistema Braille, e a leitura tátil sendo feita pela mão direita do leitor. 
                            O exemplo de documento apresentado utiliza a impressão frente e verso.</p>
                    </div>

                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid mx-auto" id="imagens2" th:src="@{leituraTatil.jpg}" alt="img"/> 

                        <small>Figura 2: Leitura tátil de documento escrito usando o sistema Braille.</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading text-right">Reglete</h2>
                        <p>
                            As Figuras 3, 4 e 5 apresentam recursos utilizados para fazer a impressão dos caracteres do sistema Braille em folhas de papel.
                            A Figura 3 apresenta uma reglete e punção, que permitem a escrita manual de cada um dos símbolos. A reglete é uma régua de 4 linhas e 28 celas com orifícios retangulares vazados que servem como guia às células Braille. 
                            O punção é usado para pressionar o papel e formar o relevo, e refere-se a uma ponta de aço adaptada para a marcação dos pontos nos orifícios da reglete.
                            Na escrita com a reglete, a cela é invertida para produzir os pontos em relevo na ordem da leitura.</p>
                    </div>
                    <div class="col-md-5 order-md-1 text-center">
                        <img class="featurette-image img-fluid mx-auto" id='imagens' th:src="@{reglete.jpg}" alt="img"/> 
                        <small>Figura 3: Reglete e punção para escrita em Braille.</small>                  
                    </div>
                </div>

                <hr class="featurette-divider"/>

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Máquina de escrever em Braille</h2>
                        <p>A Figura 4 apresenta um exemplo de máquina de escrever em Braille, uma máquina datilográfica também chamada de Perkins-Braille. Essa máquina de escrever possui somente nove teclas, e segundo Reily (2004, p, 154):
                            “A tecla central é utilizada para dar os espaços; a função da tecla da esquerda é mudar de linha e a da direita é fazer o retrocesso. As outras correspondem aos pontos 3, 2, 1 e 4, 5, 6, nessa ordem”.
                            Esses pontos referem-se a pontos da cela Braille.
                        </p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid mx-auto" th:src="@{maquinaBraille.jpg}" alt="img"/> 
                        <small>Figura 4: Máquina de escrever em Braille.</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading text-right">Impressora Braille</h2>
                        <p>A Figura 5 apresenta um exemplo de impressora Braille, que permite a impressão automática dos caracteres, viabilizando inclusive a impressão frente e verso.
                            Mais recentemente, pesquisas têm sido realizadas com o objetivo de desenvolver tablets
                            táteis, que exibem conteúdo em Braille para permitir que cegos possam navegar por arquivos e páginas da web.</p> 
                        <p> Um exemplo desse tipo de recurso é o Blitab (https://blitab.com/), 
                            que é como um e-book que, em vez de usar uma tela, exibe pequenas bolhas físicas.</p>
                    </div>
                    <div class="col-md-5 order-md-1 text-center">
                        <img class="featurette-image img-fluid mx-auto" th:src="@{impressoraBraille.jpg}" alt="img"/>
                        <small>Figura 5: Impressora Braille.</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Soroban e ábacos adaptados</h2>
                        <p>O Soroban, apresentado na Figura 7, é um dispositivo usado para a realização de operações
                            básicas e fracionárias. Conhecido como Suan-Pan pelos chineses, foi introduzido no Japão
                            pelo professor Kambei Moori, e trazido ao Brasil por volta de 1908 pelos imigrantes
                            japoneses. Após alguns anos, o professor Joaquim Lima de Moraes fez uma adaptação para
                            pessoas com deficiência visual, acrescentando uma borracha compressora localizada entre os eixos e a estrutura externa (XAVIER e SANTIAGO, 2019).
                        </p>
                        <p>Também com objetivo de realizar operações matemáticas, alguns profissionais têm criado
                            ábacos adaptados, como por exemplo usando quadro de pregas ou copinhos que dividem classes e ordens.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid mx-auto" th:src="@{soroban.jpg}" alt="img"/> 
                        <small>Figura 7: Soroban.</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>

                <div class="card card-signin border-secondary my-5">
                    <div class="card-body">
                        <p>
                            O Geoplano e o Multiplano são recursos utilizados para representação tátil. Correspondem a
                            materiais concretos que permitem alguma exploração espacial e
                            são utilizados com frequência no ensino de matemática para cegos.</p>
                    </div>
                </div>

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Geoplano</h2>
                        <p>Segundo Costa (2013), o geoplano “é uma ferramenta para o ensino da matemática por
                            permitir uma abordagem diferente na resolução de problemas, relacionando espaço e forma,
                            grandezas e medidas, números e operações, além do ensino de geometria plana elementar,
                            para o ensino de conceitos de frações, dentre outros. O geoplano é confeccionado em
                            madeira, onde são fixados pregos formando um quadriculado.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid mx-auto" id="imagens" th:src="@{geoplano.jpg}" alt="img"/> 
                        <small>Figura 8: Geoplano. Fonte da imagem: Geoplano (2021).</small>
                    </div>
                </div>

                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Multiplano</h2>
                        <p>
                            Já o multiplano, apresentado na Figura 9, é fruto de uma iniciativa do professor Rubens
                            Ferronato, que em 2000 criou um instrumento inspirado no geoplano, feito de uma placa de
                            qualquer material ou tamanho, com furos na mesma distância, com linhas e colunas de forma
                            perpendicular que caracterizam um plano cartesiano, onde são colocados pinos e, entre eles,
                            elásticos que formam retas (COSTA, 2013).
                            O multiplano é usado para o ensino e construção de conceitos geométricos,
                            permitindo ao aluno fazer gráficos, figuras geométricas, 
                            entender conceitos de equações e funções e cálculos avançados, além de entender melhor volume e distância (DE MORAES e TREICHE, 2018).
                        </p>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="featurette-image img-fluid mx-auto" id="imagens" th:src="@{multiplano.jpg}" alt="img"/> 
                        <p><small>Figura 9 Multiplano. Fonte da imagem: Multiplano (2021).</small></p>
                    </div>
                </div>    

                <hr class="featurette-divider"/>

                <h5><strong>Referências</strong></h5>  

                <p>Sassaki, Jorge et al. An assistive resource for reading mathematical formulae for people with
                visual disabilities in the Brazilian context. 2018.</p>
              
                <p>Stevens, R. D. (1996). Principles for the design of auditory interfaces to present complex
                information to blind people (Doctoral dissertation, University of York).</p>
                
                <p>Tecnoloblog. Blitab é um tablet que exibe conteúdo em braille. Disponível em:
                    https://www1.tecnoblog.net/180531/blitab-tablet-braille/. Acesso em 15/12/2021.</p>

                <p>Xavier, T. M. A. M., &amp; Santiago, Z. M. A. (2019). O soroban como instrumento de
                    aprendizado na formação de professores do ensino básico. In 4 Congresso Nacional de
                    Pesquisa em Ensino de Ciências. Recuperado a partir de: https://editorarealize. com.
                    br/revistas/conapesc/anais. php.</p>

                <p>Geoplano. Matematicando. Disponível em:
                    http://odin.mat.ufrgs.br/matematicando/imagens/geoplano10.jpg. Acesso em 15/12/2021.</p>

                <p>Multiplano. Kit Multiplano Braile com Manual de uso + 100 video aulas. Disponível em:
                    https://multiplano.com.br/produto/kit-multiplano-braile/. Acesso em 15/12/2021.</p>


            </div>
        </section>
    </body>
</html>
