<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>
        <title>Grupo de Pesquisa</title>
    </head>
    <body>
        <section layout:fragment="conteudo">  
            <div class="jumbotron">  
                <div class="container">  
                    <h1 class="display-4">Grupo de Pesquisa</h1>  
                </div>
            </div>

            <div class="container marketing" id="formatTextos">
                <p>O GICES - Grupo para Inclusão de Cegos no Ensino Superior é um projeto de
                    extensão em equipe da UTFPR-PB (Universidade Tecnológica Federal do
                    Paraná, campus Pato Branco) e, se refere a uma ramificação do projeto de
                    pesquisa “Mapeamento nas Universidades Federais Brasileiras da Situação de
                    Inclusão de Alunos Cegos em Cursos de Matemática e Engenharia”, projeto
                    homologado pelo Comitê de Homologação de Projetos da UTFPR (Portaria
                    GABIR nº 803, de 13 de maio de 2021), em conformidade com os termos do
                    Edital PROPPG 01/2019.
                    O objetivo do GICES é compartilhar informações sobre experiências de
                    professores e pesquisadores nesta temática da inclusão de alunos cegos nos
                    cursos de Matemática, Física e Engenharias, e, também compartilhar
                    experiências de acadêmicos e profissionais cegos atuantes no mercado de
                    trabalho nestas áreas.
                </p>

                <p>Este grupo foi idealizado pela profa. Dra. Teodora Pinheiro Figueroa,
                    coordenadora do projeto, no dia 16/10/2021, uma tarde de sábado. Esta ideia
                    surgiu após uma reunião (em 15/10/2021) com as professoras Dra. Eliane De
                    Bortoli Fávero e Dra. Rúbia Eliza de Oliveira Schultz Ascari (ambas do
                    Departamento Acadêmico de Informática da UTFPR-PB), em que a profa. Dra.
                    Rúbia expôs a sua preocupação urgente em acelerarmos o processo no projeto
                    de pesquisa, a fim de darmos um retorno rápido à nossa comunidade da
                    UTFPR-PB de forma a contribuir com os professores de nosso campus da área
                    de exatas, que tinham alunos cegos em suas salas de aula naquele semestre.
                    Preocupação essa em concordância com as demais professoras.
                    Então, na tarde de sábado, o GICES surgiu como uma possibilidade para
                    contribuir, não apenas com os professores de nosso campus, mas com os
                    professores de todo o Brasil. Sendo assim, a ideia original não tinha um nome
                    definido e, foi idealizado como um projeto de extensão na forma de um canal
                    no YouTube, tendo a participação da professora Ms. Mirélia Flausino Vogel,
                    coordenadora do Núcleo de Acessibilidade e Inclusão (NAI) da UTFPR-PB.
                    A partir deste dia e, após várias reuniões, o nome foi definido e, a criação da
                    logo foi discutida e desenvolvida pelo Ilustrador Samuel Pinheiro Figueroa 1 , o
                    qual fez a arte da logo, como uma doação para o GICES.
                    Nossos agradecimentos pela disponibilidade do Samuel em nos atender e
                    compreender, de forma atenciosa e competente.
                </p>

                <p>Atualmente o GICES é registrado no DEPEX sob o número 44/21 e, composto
                    pelos seguintes professores: Dra. Eliane De Bortoli Fávero (DAINF/NAI), Dra.
                    Rúbia Eliza de Oliveira Schultz Ascari (DAINF/NAI), Ms. Mirélia Flausino Vogel
                    (coordenadora do NAI, campus Pato Branco) e Dra. Teodora Pinheiro Figueroa
                    (DAMAT/NAI), coordenadora do projeto.
                    A principal meta do GICES é compartilhar informações, primeiramente sobre
                    como devem ser as relações professor-aluno-saber na perspectiva inclusiva de
                    alunos cegos no ensino superior, a partir de seminários de professores e/ou
                    pesquisadores que já tiveram experiências de docência nesta área e que
                    desenvolveram pesquisas que trazem contribuições para o estreitamento desta
                    relação professor-aluno-saber nas áreas de conhecimento de Matemática,
                    Física e Engenharias. O compartilhamento destas experiências por meio dos
                    seminários é de fundamental importância para que possamos formar uma rede
                    de apoio para adaptação dos diversos materiais didáticos, conteúdos e
                    metodologias e, para que de fato ocorra a inclusão no processo de ensino-
                    aprendizagem a nível ensino superior, nosso foco.
                    Dessa forma, o GICES objetiva gerar conhecimentos, troca de experiências e
                    reflexões sobre a inclusão de alunos cegos em cursos da área de exatas no
                    ensino superior.
                </p>

                <div class="row justify-content-center container-fluid">

                    <div class="card-deck justify-content-center" id="cardGrupodePesquisa">
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../Eliane.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Profa. Dra. Eliane Maria de Bortoli Fávero</h5>
                            </div>
                        </div>
                        <div class="card">
                            <!--<img class="card-img-top" src="../static/.">-->             
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../mirelia.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Profa. Ms. Mirélia Flausino Vogel</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../rubia.jfif}"/>
                            <div class="card-body">
                                <h5 class="card-title">Prof. Dra. Rúbia Eliza de Oliveira Schultz Ascari</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../teodora.jpeg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Profa. Dra. Teodora Pinheiro Figueroa</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>     
    </body>
</html>