<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>
        <title>Grupo de Pesquisa</title>
    </head>
    <body>
        <section layout:fragment="conteudo">  
            <div class="jumbotron">  
                <div class="container">  
                    <h1 class="display-4">Grupo de Pesquisa</h1>  
                </div>
            </div>

            <div class="container marketing" id="formatTextos">
                        <p>O GICES - Grupo para Inclusão de Cegos no Ensino Superior se refere a um projeto
                            de pesquisa da Universidade Tecnológica Federal do Paraná, campus Pato Branco
                            (UTFPR-PB) que tem como objetivo compartilhar informações sobre experiências de
                            professores e pesquisadores nesta temática da inclusão de alunos cegos nos cursos
                            de Matemática, Física e Engenharias, e, também compartilhar experiências de
                            acadêmicos e profissionais cegos atuantes no mercado de trabalho nestas áreas.
                            Este grupo surgiu após uma reunião, em que nós, professores do ensino superior,
                            tínhamos várias questões acerca de como contribuir com os professores de nosso
                            campus (UTFPR-PB), da área de exatas, que tinham alunos cegos em suas salas de
                            aula.
                            Então, o GICES surgiu como uma possibilidade para contribuir não apenas com os
                            professores de nosso campus, mas com os professores dos demais campus da
                            UTFPR e de todo o Brasil. Sendo assim, a ideia original não tinha um nome definido,
                            sendo inicialmente idealizada como um projeto de extensão na forma de um canal no
                            YouTube.
                            A partir deste dia e, após várias reuniões, um nome para o grupo foi definido e a
                            criação da logo foi discutida e desenvolvida.</p>
                        Atualmente a equipe do GICES é formada pelas professoras Dra. Eliane De Bortoli
                        Fávero (DAINF/NAI), Dra. Rúbia Eliza de Oliveira Schultz Ascari (DAINF/NAI), Ms.
                        Mirélia Flausino Vogel (coordenadora do NAI, campus Pato Branco) e Dra. Teodora
                        Pinheiro Figueroa (DAMAT/NAI), coordenadora do projeto.
                        A principal meta do GICES é compartilhar informações primeiramente sobre como
                        devem ser as relações professor-aluno-saber na perspectiva inclusiva de alunos cegos
                        no ensino superior. Para isso, inicialmente foi proposta a realização de seminários
                        envolvendo professores e/ou pesquisadores que já tiveram experiências de docência
                        nesta área e que desenvolveram pesquisas que trazem contribuições para o
                        estreitamento desta relação professor-aluno-saber nas áreas de conhecimento de
                        Matemática, Física e Engenharias.
                        <p> O compartilhamento destas experiências por meio
                            dos seminários é de fundamental importância para que possamos formar uma rede de
                            apoio para adaptação dos diversos materiais didáticos, conteúdos e metodologias,
                            para que de fato ocorra a inclusão no processo de ensino-aprendizagem a nível de
                            ensino superior, nosso foco.
                            A disseminação e compartilhamento do conhecimento gerado a partir dos seminários é
                            realizada por meio deste website do grupo, o qual disponibiliza a oportunidade de
                            rever seminários já ocorridos, consultar recursos disponíveis, gerar uma rede de
                            contatos, além de obter informações sobre futuros seminários e eventos.
                            Dessa forma, o GICES objetiva gerar conhecimentos, troca de experiências e
                            reflexões sobre a inclusão de alunos cegos em cursos de graduação da área de
                            exatas.</p>

                    </div>
                    <!--<div class="card card-signin border-secondary my-5" id="textoPagTecnologicos">-->
                    <!--<div class="card-body">
                        <img class="img-fluid" id="imagensGrupo" th:src="@{../eliane.jpg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Profa. Dra. Eliane Maria de Bortoli Fávero</h5>
                        </div>
                        
                        <img class="img-fluid" id="imagensGrupo" th:src="@{../mirelia.jpg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Coordenadora do NAI. Mirelia Flausino Vogel</h5>
                        </div>
                        
                        <img class="img-fluid" th:src="@{../rubia.jfif}"/>
                        <div class="card-body">
                            <h5 class="card-title">Prof. Dra. Rúbia Eliza de Oliveira Schultz Ascari</h5>
                        </div>
    
                        <img class="img-fluid" th:src="@{../teodora.jpg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Coordenadora do projeto. Teodora Pinheiro Figueroa</h5>
                        </div>
    
                        <div class="card-body">
                            <h5 class="card-title">Coordenadora do projeto. Teodora Pinheiro Figueroa</h5>
                        </div>
                    </div>
                </div>-->

                    <div class="card-deck" id="cardGrupodePesquisa">
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../Eliane.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Profa. Dra. Eliane Maria de Bortoli Fávero</h5>
                            </div>
                        </div>
                        <div class="card">
                            <!--<img class="card-img-top" src="../static/.">-->             
                            <img class="img-fluid" id="imagensGrupo" th:src="@{../mirelia.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Coordenadora do NAI. Mirelia Flausino Vogel</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo2" th:src="@{../rubia.jfif}"/>
                            <div class="card-body">
                                <h5 class="card-title">Prof. Dra. Rúbia Eliza de Oliveira Schultz Ascari</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="img-fluid" id="imagensGrupo2" th:src="@{../teodora.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title">Coordenadora do projeto. Teodora Pinheiro Figueroa</h5>
                            </div>
                        </div>
                    </div>
        </section>     
    </body>
</html>