<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  
    <head>  
        <title>Legislação</title>
    </head>  
    <body>  
        <section layout:fragment="conteudo">  
            <div class="jumbotron">  
                <div class="container">  
                    <h1 class="display-3">Legislação</h1>
                    <p> O Estatuto da Pessoa com Deficiência (Lei 13.146, de 06/07/2015) garante a inclusão
                        da pessoa com deficiência no sistema educacional no país, em todos os níveis e
                        modalidades, desde a educação básica à educação superior.
                        Corrobora com essa lei, a Lei Federal 13.409 de 28/12/2016, a qual prevê a reserva de
                        vagas para pessoas com deficiência nas Instituições Federais de Ensino Superior.
                    </p>
                    <p> 
                        Desta forma, fica determinado pela lei que é dever do poder público assegurar as
                        condições de acesso, permanência, participação e aprendizagem dessas pessoas,
                        devendo eliminar quaisquer barreiras que impeçam o atendimento das necessidades
                        dos estudantes com deficiência.
                        Desta forma, deve-se garantir a plena inclusão das pessoas com deficiência ao
                        sistema educacional, com acesso em condições de igualdade ao currículo
                        educacional, de modo a promover a conquista e o exercício da autonomia, bem como
                        o desenvolvimento acadêmico e social dos estudantes.
                    </p>
                </div>
            </div>

            <div class="container marketing" id="conteudo">  
                <div>
                    <p>A Coordenadoria Nacional para a Integração da Pessoa Portadora de Deficiência
                        (Corde) é o órgão de Assessoria da Secretaria Especial dos Direitos Humanos da
                        Presidência da República responsável pela gestão de políticas voltadas para a
                        integração da pessoa com deficiência, tendo, como eixo focal, a defesa de direitos e a
                        promoção da cidadania.
                    </p>
                    <p>
                        Além dessas leis acima citadas, Rocha e Miranda (2009) elencam momentos em que
                        a legislação nacional orienta para a educação inclusiva:</p>

                    <h5>Lei n. 7.853/89</h5>
                    <p>Dispõe sobre o apoio às pessoas com deficiência, sua integração
                        social, assegurando o pleno exercício de seus direitos individuais e sociais;</p>

                    <h5>Lei n. 10.098/00</h5>
                    <p>Estabelece normas gerais e critérios básicos para promoção da
                        acessibilidade das pessoas portadoras de deficiência ou com mobilidade reduzida e dá
                        outras providências;</p>

                    <h5>Lei 10.172/01</h5>
                    <p>que aprova o Plano Nacional de Educação e estabelece objetivos e
                        metas para a educação de pessoas com necessidades educacionais especiais;</p>

                    <h5>Decreto n. 3289/99 que regulamenta a Lei nº. 7.853/89</h5>
                    <p>Dispõe sobre a Política Nacional para a Integração da Pessoa Portadora de Deficiência, consolida as normas
                        de proteção e dá outras providências;</p>

                    <h5>Portaria MEC n. 1.679/99</h5> 
                    <p>Dispõe sobre os requisitos de acessibilidade a pessoas portadoras de deficiência para instruir processos de autorização e de reconhecimento
                        de cursos e de credenciamento de instituições” (Rocha, Miranda, 2009, p. 199-200).</p>

                    <hr class="featurette-divider"/>

                    <h4>  LBI nº 13.146/2015 – Lei Brasileira de Inclusão</h4>
                    <h5> Art. 27 ao 30</h5>

                </div>
            </div>

        </section>
    </body>  
</html>
