<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  
    <head>  
        <title>Legislação</title>
    </head>  
    <body>  
        <section layout:fragment="conteudo">  
            <div class="jumbotron">  
                <div class="container">  
                    <h1 class="display-3">Legislação</h1>
                    <div id="formatTexto">
                        <p> O Estatuto da Pessoa com Deficiência (Lei 13.146, de 06/07/2015) garante a inclusão
                            da pessoa com deficiência no sistema educacional no país, em todos os níveis e
                            modalidades, desde a educação básica à educação superior.
                            Corrobora com essa lei, a Lei Federal 13.409 de 28/12/2016, a qual prevê a reserva de
                            vagas para pessoas com deficiência nas Instituições Federais de Ensino Superior.
                        </p>
                        <p> 
                            Desta forma, fica determinado pela lei que é dever do poder público assegurar as
                            condições de acesso, permanência, participação e aprendizagem dessas pessoas,
                            devendo eliminar quaisquer barreiras que impeçam o atendimento das necessidades
                            dos estudantes com deficiência.
                            Desta forma, deve-se garantir a plena inclusão das pessoas com deficiência ao
                            sistema educacional, com acesso em condições de igualdade ao currículo
                            educacional, de modo a promover a conquista e o exercício da autonomia, bem como
                            o desenvolvimento acadêmico e social dos estudantes.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container marketing text-justify" id="conteudo">  
                <div>
                    <p>A Coordenadoria Nacional para a Integração da Pessoa Portadora de Deficiência
                        (Corde) é o órgão de Assessoria da Secretaria Especial dos Direitos Humanos da
                        Presidência da República responsável pela gestão de políticas voltadas para a
                        integração da pessoa com deficiência, tendo, como eixo focal, a defesa de direitos e a
                        promoção da cidadania.
                    </p>
                    <p>
                        Além dessas leis acima citadas, Rocha e Miranda (2009) elencam momentos em que
                        a legislação nacional orienta para a educação inclusiva:</p>

                    <p><strong>Lei n. 7.853/89.</strong>Dispõe sobre o apoio às pessoas com deficiência, sua integração
                        social, assegurando o pleno exercício de seus direitos individuais e sociais;</p>

                    <p><strong>Lei n. 10.098/00.</strong>Estabelece normas gerais e critérios básicos para promoção da
                        acessibilidade das pessoas portadoras de deficiência ou com mobilidade reduzida e dá outras providências;</p>

                    <p><strong>Lei 10.172/01</strong>que aprova o Plano Nacional de Educação e estabelece objetivos e metas para a educação de pessoas com necessidades educacionais especiais;</p>

                    <p><strong>Decreto n. 3289/99 que regulamenta a Lei nº. 7.853/89</strong> 
                        que dispõe sobre a Política Nacional para a Integração da Pessoa Portadora de Deficiência,
                        consolida as normas de proteção e dá outras providências;</p>

                    <p><strong>Portaria MEC n. 1.679/99.</strong>
                        Dispõe sobre os requisitos de acessibilidade a pessoas portadoras de deficiência para instruir processos de autorização e de reconhecimento
                        de cursos e de credenciamento de instituições” (Rocha, Miranda, 2009, p. 199-200).</p>

                    <hr class="featurette-divider"/>

                    <h4><strong>LBI nº 13.146/2015 – Lei Brasileira de Inclusão</strong></h4>
                    <h5><strong> Art. 27 ao 30</strong></h5>

                    <p><strong>Art. 27.</strong> A educação constitui direito da pessoa com deficiência, assegurados sistema
                        educacional inclusivo em todos os níveis e aprendizado ao longo de toda a vida, de
                        forma a alcançar o máximo desenvolvimento possível de seus talentos e habilidades
                        físicas, sensoriais, intelectuais e sociais, segundo suas características, interesses e
                        necessidades de aprendizagem.</p>

                    <p><strong>Parágrafo único. </strong>É dever do Estado, da família, da comunidade escolar e
                        da sociedade assegurar educação de qualidade à pessoa com deficiência, colocando-
                        a a salvo de toda forma de violência, negligência e discriminação.
                    </p>

                    <p><strong> Art. 28.</strong> Incumbe ao poder público assegurar, criar, desenvolver, implementar, incentivar, acompanhar e avaliar:</p>
                    <div class="col-sm">
                        <ul class="col-sm">
                            <li>I – sistema educacional inclusivo em todos os níveis e modalidades, bem como o aprendizado ao longo de toda a vida;</li>
                            <li>II – aprimoramento dos sistemas educacionais, visando a garantir condições
                                de acesso, permanência, participação e aprendizagem, por meio da oferta de
                                serviços e de recursos de acessibilidade que eliminem as barreiras e promovam a inclusão plena;</li>
                            <li>III – projeto pedagógico que institucionalize o atendimento educacional
                                especializado, assim como os demais serviços e adaptações razoáveis, para
                                atender às características dos estudantes com deficiência e garantir o seu pleno
                                acesso ao currículo em condições de igualdade, promovendo a conquista e o exercício de sua autonomia;</li>
                            <li>IV – oferta de educação bilíngue, em Libras como primeira língua e na modalidade
                                escrita da língua portuguesa como segunda língua, em escolas e classes bilíngues e em escolas inclusivas;</li>
                            <li>V – adoção de medidas individualizadas e coletivas em ambientes que maximizem
                                o desenvolvimento acadêmico e social dos estudantes com deficiência,
                                favorecendo o acesso, a permanência, a participação e a aprendizagem em instituições de ensino;</li>
                            <li>VI – pesquisas voltadas para o desenvolvimento de novos métodos e
                                técnicas pedagógicas, de materiais didáticos, de equipamentos e de recursos de tecnologia assistiva;</li>
                            <li>VII – planejamento de estudo de caso, de elaboração de plano de atendimento educacional especializado, 
                                de organização de recursos e serviços de acessibilidade e de disponibilização e usabilidade pedagógica de recursos de tecnologia assistiva;</li>
                            <li>VIII – participação dos estudantes com deficiência e de suas famílias nas diversas instâncias de atuação da comunidade escolar;</li>
                            <li>IX – adoção de medidas de apoio que favoreçam o desenvolvimento dos aspectos linguísticos, culturais, 
                                vocacionais e profissionais, levando-se em conta o talento, a criatividade, as habilidades e os interesses do estudante com deficiência;</li>
                            <li>X – adoção de práticas pedagógicas inclusivas pelos programas de formação inicial e 
                                continuada de professores e oferta de formação continuada para o atendimento educacional especializado;</li>
                            <li>XI – formação e disponibilização de professores para o atendimento educacional
                                especializado, de tradutores e intérpretes da Libras, de guias intérpretes e de profissionais de apoio;</li>
                            <li>XII – oferta de ensino da Libras, do Sistema Braille e de uso de recursos de
                                tecnologia assistiva, de forma a ampliar habilidades funcionais dos estudantes, promovendo sua autonomia e participação;</li>
                            <li>XIII – acesso à educação superior e à educação profissional e tecnológica em igualdade de oportunidades e condições com as demais pessoas;</li>
                            <li>XIV – inclusão em conteúdos curriculares, em cursos de nível superior e de educação profissional técnica e tecnológica, de temas relacionados à pessoa
                                com deficiência nos respectivos campos de conhecimento;</li>
                            <li> XV – acesso da pessoa com deficiência, em igualdade de condições, a jogos e a atividades recreativas, esportivas e de lazer, no sistema escolar;</li>
                            <li>XVI – acessibilidade para todos os estudantes, trabalhadores da educação
                                e demais integrantes da comunidade escolar às edificações, aos ambientes e às atividades concernentes a todas as modalidades, etapas e níveis de ensino;</li>
                            <li>XVII – oferta de profissionais de apoio escolar;</li>
                            <li>XVIII – articulação intersetorial na implementação de políticas públicas.</li>
                        </ul>
                        <p class="col-sm-12"><strong>§</strong>
                            1º Às instituições privadas, de qualquer nível e modalidade de ensino, aplicase
                            obrigatoriamente o disposto nos incisos I, II, III, V, VII, VIII, IX, X, XI, XII, XIII, XIV, XV,
                            XVI, XVII e XVIII do caput deste artigo, sendo vedada a cobrança de valores adicionais
                            de qualquer natureza em suas mensalidades, anuidades e matrículas no cumprimento dessas determinações.
                        </p>
                        <p class="col-sm-12"><strong>§</strong>
                            2º Na disponibilização de tradutores e intérpretes da Libras a que se refere o inciso XI do caput deste artigo, deve-se observar o seguinte:
                        </p>
                        <div class="col-sm">
                            <ul class="col-sm-12">
                                <li>I – os tradutores e intérpretes da Libras atuantes na educação básica devem,
                                    no mínimo, possuir ensino médio completo e certificado de proficiência na Libras;</li>
                                <li> II – os tradutores e intérpretes da Libras, quando direcionados à tarefa de
                                    interpretar nas salas de aula dos cursos de graduação e pós-graduação, devem
                                    possuir nível superior, com habilitação, prioritariamente, em Tradução e
                                    Interpretação em Libras.</li>
                            </ul>
                        </div>
                        <p><strong> Art. 29.</strong>(VETADO).</p>

                        <p><strong>Art. 30.</strong> Nos processos seletivos para ingresso e permanência nos cursos oferecidos
                            pelas instituições de ensino superior e de educação profissional e tecnológica,
                            públicas e privadas, devem ser adotadas as seguintes medidas:</p>

                        <div class="col-sm">
                            <ul class="col-sm-12">
                                <li>I – atendimento preferencial à pessoa com deficiência nas dependências das Instituições de Ensino Superior (IES) e nos serviços;</li>
                                <li>II – disponibilização de formulário de inscrição de exames com campos específicos
                                    para que o candidato com deficiência informe os recursos de acessibilidade e de tecnologia assistiva necessários para sua participação;</li>
                                <li>III – disponibilização de provas em formatos acessíveis para atendimento
                                    às necessidades específicas do candidato com deficiência;</li>
                                <li>IV – disponibilização de recursos de acessibilidade e de tecnologia
                                    assistiva adequados, previamente solicitados e escolhidos pelo candidato com deficiência;</li>
                                <li> V – dilação de tempo, conforme demanda apresentada pelo candidato com
                                    deficiência, tanto na realização de exame para seleção quanto nas atividades
                                    acadêmicas, mediante prévia solicitação e comprovação da necessidade;</li>
                                <li>VI – adoção de critérios de avaliação das provas escritas, discursivas ou
                                    de redação que considerem a singularidade linguística da pessoa com deficiência, no domínio da modalidade escrita da língua portuguesa;</li>
                                <li>VII – tradução completa do edital e de suas retificações em Libras.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </body>  
</html>
