<!DOCTYPE html>
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>
        <title>Materiais Concretos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">  
            <form action="@{materiais-concretos}" method="post">
            </form>
            <div class="jumbotron">  
                <div class="container">
                    <h1 class="display-3">Materiais Concretos</h1>  
                </div>
            </div>

        </section> 
    </body>
</html>
