<!DOCTYPE html>
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  

    <head>
        <title>Processo de Ensino Aprendizagem</title>
    </head>

    <body>
        <section layout:fragment="conteudo">  
            <form action="@{processo-de-ensino-aprendizagem}" method="post">
            </form>
            <div class="jumbotron">  
                <div class="container">
                    <h1 class="display-4">Processo de Ensino Aprendizagem</h1>  
                </div>
            </div>

            <div class="container marketing" id="formatTextos">  
                <div>
                    <p> Diferentes estudos têm sido realizados no sentido de atender às necessidades dos alunos
                        cegos no ambiente escolar, por meio da criação de um ambiente mais justo, no qual todos os alunos,
                        cegos ou videntes, possuam igualdade de oportunidade para explorar seu potencial. Para isso, segundo
                        de Vargas (2006), é preciso, pois, que fique claro que o reconhecimento de direitos iguais a todos
                        deve estar presente e deve ser colocado em prática através do reconhecimento de que direito a
                        igualdade implica em diferença de tratamento, pois é preciso considerar e assegurar as necessidades
                        educativas para esses alunos.
                        Amiralian (2009) destaca que se faz necessário que os professores saibam sobre os efeitos
                        da ausência ou limitação do sentido da visão no processo de desenvolvimento e aprendizagem e sobre
                        atitudes e procedimentos que devem exercitar para que o estudante aprenda e se desenvolva
                        plenamente. Shimomura, Hvannberg e Hafsteinsson (2013) abordam a importância da combinação de
                        recursos para potencializar a percepção por parte de indivíduos cegos, podendo ser recursos visuais,
                        auditivos, táteis ou a combinação destes. Nesse contexto, a consideração dos diferentes sentidos não
                        visuais para a educação do indivíduo com deficiência visual é fundamental (CAMARGO, 2005).
                        Assim, a inclusão escolar de estudantes com deficiência visual requer, de cada educador, o
                        saber sobre a especificidade de ação e contribuição que cabe à sua área de estudos em situações
                        educacionais; discernimento sobre os próprios sentimentos e a concepção a respeito do estudante com
                        deficiência visual e das possibilidades desse estudante, bem como, sobre as expectativas que tem a
                        respeito dele e as consequentes exigências a serem feitas (MANSINI, 2015, p. 5). É necessária a
                        elaboração de diferentes sistemas de ensino que possibilitem a transmissão do conhecimento para que
                        a informação chegue de forma adequada aos sujeitos com deficiência visual (SOUZA e
                        NASCIMENTO, 2019).
                    </p>
                    <p>
                        Parâmetros Curriculares Nacionais (PCN) - Adaptações Curriculares (BRASIL, 1998)
                        dispõe acerca das adaptações que os professores devem realizar no nível de complexidade das
                        atividades do tipo: eliminar partes de seus componentes (simplificar um problema matemático),
                        excluindo alguns cálculos no ensino de alunos com deficiência visual (BRASIL, 1998). Nesse
                        contexto deve-se tomar cuidado para que simplificar não signifique eliminar partes do que está sendo
                        ensinado e alterar o nível de complexidade, não seja entendido como simplificar excluindo partes de
                        componentes de um material complexo (FIGUEIREDO e KATO, 2015).

                        Alguns autores indicam algumas ações que podem contribuir para a inclusão de alunos
                        cegos no ambiente escolar. DePountis et al. (2015) pontuam a real necessidade de se fazer uso de
                        tecnologia assistiva em sala de aula, considerando que a existência e uso de tecnologia nas aulas não
                        se trata de uma questão opcional, mas necessária. Oliveira (2009), defende que os professores
                        precisam, mesmo que não dominem, estimular seus estudantes para utilizarem o código de escrita
                        Braille durante as aulas para fazerem anotações, atividades e realizarem leituras.

                        Alguns pesquisadores (de Paula Caetano et al. (2016), Shimomura, Hvannberg e
                        Hafsteinsson (2013), Uliana (2013)) destacam a utilização de modelos de ensino/aprendizagem com
                        maior apelo e exploração tecnológica de dispositivos sensoriais táteis, justificado pelo fato de que o
                        aprendizado ativo é mais eficiente do que o aprendizado passivo, já que a possibilidade de
                        experienciar por meio do tato se mostra mais eficiente do que o simples ato de assistir algo.
                    </p>
                    
                    <p>
                        No estudo de Física, por exemplo, Camargo (2005) afirma que a construção de concepções
                        alternativas relacionadas com fenômenos físicos como o movimento e o repouso dos objetos, feita por
                        qualquer pessoa, não parece depender exclusivamente de aspectos visuais, já que sensações auditivas
                        e táteis participam de modo relevante na construção de tais concepções. Assim, como destacado no
                        estudo de Dickman e Ferreira (2008), é salutar tecer conexões com o dia-a-dia do estudante,
                        utilizando sensações experimentadas numa freada de ônibus, no movimento de um elevador, por
                        exemplo.

                        Dickman e Ferreira (2008) apresentam exemplos de experimentos, como o aplicado no
                        estudo do sistema mecânico massa-mola, no qual um professor trouxe para a sala de aula diferentes
                        tipos de mola (duras, macias) e pesos, para que o aluno se familiarizasse com o problema por meio do
                        tato. Ao mesmo tempo, fazia-se a conexão com as grandezas matemáticas que representam essas
                        quantidades, construindo assim um modelo teórico.
                    </p>

                    <p>
                        Como outro exemplo apresentado por Dickman e Ferreira (2008), para abordar conteúdos
                        relacionados à óptica geométrica, um professor criou modelos utilizando canudinhos para representar
                        os raios de luz. Canudinhos de vários diâmetros foram associados às diferentes frequências. Para
                        mostrar a reflexão da luz, os raios foram colados sobre uma superfície. Assim, os estudantes puderam
                        observar, pelo tato, os raios incidente e refletido, bem como os ângulos que estes formam com a
                        normal, representada por pregos fixados na superfície.

                        O estudo de frações pode ser conduzido por meio de uso do Multiplano, uma ferramenta tátil
                        criada por Rubens Ferronato (2002), que possibilita aos alunos cegos (e aos típicos também) a
                        construção e análise de gráficos e funções (entre outras possibilidades ligadas ao estudo da
                        Matemática). Uma ferramenta com propósito similar foi desenvolvida por Uliana (2013), que criou
                        um kit pedagógico que possibilita ao aluno cego, através do tato, realizar diferentes atividades
                        matemáticas que envolvam gráficos, funções polinomiais e até mesmo figuras geométricas planas.
                        Para abordar conteúdos da área de Engenharia de Software, Junior e de Campos (2019)
                        construíram protótipos de três diagramas da UML (diagrama de Classes, diagrama de Casos de Uso e
                        diagrama de Sequência) usando peças de LEGO TM .
                    </p>

                    <p>
                        Como apresentado em Beltramin e Góis (2012), para abordar conteúdo da área de Química,
                        Teixeira Jr (2010) elaborou experimentos específicos para cegos com ênfase no olfato, paladar,
                        audição e tato, com base em experimentos simples, onde os alunos puderam ter uma melhor
                        compreensão de conteúdo. Em um dos casos, estimulou-se o olfato com um experimento de produção
                        da cola de caseína, com leite, limão e bicarbonato de sódio comparando o odor dos reagentes com o
                        do produto. No outro caso estimula-se o tato, pois os alunos estudaram a velocidade das reações
                        químicas com comprimidos efervescentes em água sentindo o respingar nos dedos, além de sentir a
                        textura da cola de caseína. Também houve o caso de estimulação do paladar para aprender funções
                        inorgânicas, onde os estudantes experimentaram suco de limão, leite de magnésia, vinagre e fermento
                        em pó, todos diluídos em água. Também houve um estímulo da audição, com a proposta de construir
                        uma pilha de Daniell e, no lugar de uma lâmpada, colocar uma campainha de cartão de natal, para
                        ajudar na identificação de passagem dos elétrons.
                    </p>

                    <p>
                        Atividades experimentais enriquecem o processo ensino-aprendizagem (SANTOS, 2004;
                        ARAÚJO, 2003), pois além de envolver os alunos na construção do conhecimento, permitem-lhes a
                        criação de modelos-imagem dos fenômenos discutidos (DICKMAN e FERREIRA, 2008).

                        Em sua tese de doutorado, Camargo (2005) discute sobre as condições para a obtenção do
                        conhecimento, e qual sua relação com a visão. Segundo o autor, a “comunidade de conhecimento”, é
                        influenciada por todos os sentidos, e, portanto, conhecer um dado objeto ou fenômeno, se encontra
                        vinculado às múltiplas formas de perceber, ao refletir individual, e ao compartilhar social do objeto de
                        conhecimento em questão. A pessoa com deficiência visual tem a possibilidade de organizar os dados
                        como qualquer outra pessoa, desde que esteja aberta para o mundo em seu modo próprio de perceber e
                        de relacionar-se.
                        As possibilidades de ensino/aprendizagem para alunos cegos são muitas e com a utilização
                        de ferramentas adequadas este processo pode tornar-se mais simples tanto para o professor quanto
                        para o aprendiz.</p>


                    <hr class="featurette-divider"/>

                    <h5><strong>Referências</strong></h5>  
                    <p>AMIRALIAN, M. L. T. M. (2009). Comunicação e participação ativa: a inclusão de pessoas com
                        deficiência visual. Deficiência visual: perspectivas na contemporaneidade. São Paulo: Vetor, 19-38.
                    </p>

                    <p>BELTRAMIN, F. S., &amp; GÓIS, J. (2012). Materiais didáticos para alunos cegos e surdos no ensino de
                        química. XVI ENEQ/X EDUQUI-ISSN: 2179-5355.
                    </p>

                    <p>BRASIL. Parâmetros Curriculares Nacionais: adaptações curriculares. Secretaria de Educação
                        Fundamental. Secretaria de Educação Especial. Brasília, DF: MEC/SEF/SEESP, 1998.
                    </p>

                    <p>CAMARGO, E. D. (2005). O ensino de Física no contexto da deficiência visual: elaboração e
                        condução de atividades de ensino de Física para alunos cegos e com baixa visão. Campinas, Tese de
                        Doutorado em Educação, Faculdade de Educação, Universidade Estadual de Campinas, SP, Brasil.
                    </p>

                    <p>CAMARGO, E.P.; NARDI, R. Planejamento de atividades de ensino de Física para alunos com
                        deficiência visual: dificuldades e alternativas. Revista Electrónica de Enseñanza de las Ciencias, v.6,
                        n.2, p.378-401, 2007.
                    </p>
                    <p>
                        de PAULA, Caetano, J. L., Pomba, I. S. M. C. R., de Mello, F. A., &amp; Antonow, L. M. O ensino de
                        frações para educandos cegos. 2016.
                    </p>

                    <p>DEPOUNTIS, V. M. et al. Technologies used in the study of advanced mathematics by students who
                        are visually impaired in classrooms: teachers’ perspectives. Journal of Visual Impairment &amp;
                        Blindness, 2015. v. 109, n. 4, p. 265–278.
                    </p>

                    <p> de VARGAS, G. M. S. (2006). A inclusão no ensino superior: a experiência da disciplina Prática
                        Pedagógica–Prática de Ensino de uma turma de alunos cegos e com baixa visão. Ponto de Vista:
                        revista de educação e processos inclusivos, (8), 131-138.
                    </p>

                    <p>DICKMAN, A. G., &amp; Ferreira, A. C. (2008). Ensino e aprendizagem de física a estudantes com
                        deficiência visual: desafios e perspectivas. Revista Brasileira de Pesquisa em Educação em Ciências,
                        8(2).
                    </p>

                    <p>FERRONATO, Rubens. A Construção do Instrumento de Inclusão no Ensino de Matemática.
                        Dissertação de Mestrado em Engenharia de Produção. Universidade Federal de Santa Catarina, 2002.
                    </p>

                    <p>FIGUEIREDO, R. M. É. D., &amp; KATO, O. M. (2015). Estudos nacionais sobre o ensino para cegos:
                        uma revisão bibliográfica. Revista Brasileira de Educação Especial, 21, 477-488.
                    </p>

                    <p>JUNIOR, A. J. S., &amp; de Campos, I. C. (2019). Ensino de diagramas da UML para cegos. In 20ª
                        Mostra de Ensino, Pesquisa e Extensão do Campus Porto Alegre.
                    </p>

                    <p>MANSINI, E. F. S. Inclusão do estudante com deficiência visual: saber requerido. Disponível em:
                        &lt;http://sites.aticascipione.com.br/igualdade/artigos/artigos.asp&gt;. Acesso em: 10 jul. 2015.
                    </p>

                    <p>OLIVEIRA, R. F. C. de. Desbrailização: Realidade e perspectivas. In: AMIRALIAN, Maria Lucia
                        Toledo Moraes. (Org.). Deficiência Visual: perspectivas na contemporaneidade. 1. ed. São Paulo:
                        Vetor, 2009. p. 169- 178.
                    </p>

                    <p>SANTOS, E.I.; PIASSI L.P.C.; FERREIRA, N.C. Atividades experimentais de baixo custo como
                        estratégia de construção da autonomia de professores de Física: uma experiência em
                        formação continuada. In: Atas do IX Encontro Nacional de Pesquisa em Ensino de Física,
                        Jaboticatubas, out. 2004.
                    </p>

                    <p>SHIMOMURA, Y.; HVANNBERG, E. T.; HAFSTEINSSON, H. Haptic cues as a utility to perceive
                        and recognise geometry. Universal Access in the Information Society, 2013. v. 12, n. 2, p. 125–142.
                    </p>

                    <p>Souza, S., &amp; do Nascimento, J. F. (2019). Inclusão, interação e deficiência visual: um relato de duas
                        experiências no processo de ensino-aprendizagem com cegos. Revista X, 14(4), 322-339.
                    </p>

                    <p>TEIXEIRA Jr, José G.-Propostas de atividades experimentais elaboradas por futuros professores de
                        Química para alunos com deficiência visual. In: Encontro Nacional de Ensino de Química
                        (ENEQ), 15., Brasília: UNB, 2010.
                    </p>

                    <p>ULIANA, M. R., &amp; Gerson de Souza, M. Ó. L. (2015). A In/Exclusão Escolar de Estudantes Cegos
                        no Processo de Ensino-aprendizagem da Matemática, Física e Química. Revista Diálogos, 3(2), 135-
                        153.
                    </p>
                </div>
            </div>

        </section> 
    </body>
</html>
