<!DOCTYPE html>  
<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
      layout:decorate="~{layout/layout-padrao}">  
    <head>  
        <title>Professores</title>
    </head>  
    <body>  
        <section layout:fragment="conteudo">  
            <div class="jumbotron">  
                <div class="container">  
                    <h1 class="display-4">Professores</h1>
                </div>
            </div>

            <div class="container marketing" id="conteudo">  

                <div>
                    <h3 class="featurette-heading">Palestrante: Prof. Marcelo Lemos Rossi</h3>
                    <p>
                        Com a entrada de um aluno deficiente visual no curso de engenharia eletrônica
                        buscou-se diversas técnicas e metodologias que permitissem tanto os professores quanto o aluno e seus colegas interagirem com circuitos elétricos e eletrônicos. 
                        Durante a busca foi identificado pouco desenvolvimento científico e tecnológico que pudesse colaborar com este problema. Isso permitiu que eu orientasse a minha área de pesquisa nesta direção 
                        propondo novas tecnologias e produtos que pudessem colaborar com o aprendizado inclusivo de deficientes visuais em cursos de engenharia eletrônica.
                    </p>
                    <a th:href="@{https://youtu.be/PpQ00_NK6-4}">
                        <p><strong>Link:</strong> https://youtu.be/PpQ00_NK6-4</p>
                    </a>
                </div>

                <hr class="featurette-divider"/>

                <div>
                    <h3 class="featurette-heading">Palestrante: Prof. Dr. Rita de Cássia dos Anjos</h3>
                    <p>
                        Prof. Dr. Rita de Cássia dos Anjos:
                        Possui graduação em Física Biológica pela Universidade Estadual Paulista Júlio de Mesquita Filho, mestrado e doutorado em Física pela Universidade de São Paulo, São Carlos. 
                        Desde agosto de 2014 é professora doutora da Universidade Federal do Paraná no Setor Palotina. 
                        Trabalha com raios cósmicos de energias acima de 1EeV (Observatório Pierre Auger)
                        e energias entre 10GeV e 100TeV (Cherenkov Telescope Array - CTA). Tem experiência na área de Física, com ênfase na propagação de raios cósmicos e interações de partículas e raios gama. 
                        É membro do Observatório de Raios Cósmicos Pierre Auger, em Malargue, na Argentina, desde 2014 e membro do Observatório Cherenkov Telescope Array - CTA desde 2015. 
                        Em 2020 foi vencedora do prêmio Programa para Mulheres.
                    </p>
                    <a th:href="@{https://youtu.be/zrI6uCzTJNE}">
                        <p><strong>Link:</strong> https://youtu.be/zrI6uCzTJNE</p>
                    </a>
                </div>

                <hr class="featurette-divider"/>

                <div>
                    <h3 class="featurette-heading">Palestrante: Prof. Dr. Eder Pires de Camargo</h3>
                    <p>
                        Prof. Dr. Eder Pires de Camargo: é cego,
                        Livre Docente em ensino de Física pela Universidade Estadual Paulista, Júlio de
                        Mesquita Filho, Campus de Ilha Solteira e Doutor em Educação pela Universidade Estadual de Campinas.
                    </p>
                    <a th:href="@{https://youtu.be/B5YGjN88Tfg}">
                        <p><strong>Link:</strong> https://youtu.be/B5YGjN88Tfg</p>
                    </a>
                </div>

            </div>
        </section>
    </body> 
</html>
